<style>
    .eform-req {
        height: calc(1.4em + 0.5rem + 2px);
        border: 1px solid #c6c9d5;
        border-radius: 0.25rem;
        background-color: #FFEFBB;
        padding: 3px;
        box-shadow: inset 0 1px 0 0 rgb(34 34 48 / 5%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .2s ease-in-out;
    }
    .ecardrows [data-roinplace],
    .ecardrows [data-popmenu] {
        display: block;
    }
</style>

<script id="eCardFields" type="text/x-jsrender">
{{if popmenu}}
    <a href="#" data-popmenu="{{:popmenu}}"
        data-link="text{:value convert=fmt showempty=true} data-value{:value} href{:(popmenu == 'href')? value : '#'} class{:~eCardClass(value)}
        {on 'onInitPopMenu' ~S.addEditPopMenu} {on 'roinplace' ~eCardSave} {on 'onInplaceBeforeInit' ~S.eInplaceBeforeInit}"></a>

{{else type == 'checkbox'}}
    {{if readonly}}
        <i data-link="class{:'fa '+(value? 'fa-check':'fa-square-o')}"></i>
    {{else}}
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="eCb{{:name}}" data-link="{:value:cbox}"> 
        <label class="custom-control-label" for="eCb{{:name}}"></label>
    </div>
    {{/if}}

{{else readonly}}
    <p data-link="html{:text_value || value convert=fmt showempty=true}"></p>

[[-
    {{else type == 'select'}}
    <a href="#" data-name="{{:name}}" data-roinplace="eCardSave" data-editor="select"
        data-link="{on 'onInplaceBeforeInit' ~S.eInplaceBeforeInit} {on 'eCardSave' ~eCardSave} text{:text_value||value convert=fmt} class{:~eCardClass(value)}"></a>
]]

{{else}}
    <a href="#" data-name="{{:name}}" data-roinplace="eCardSave" data-editor="{{:type}}"
        data-link="{:text_value||value convert=fmt showempty=true} {on 'onInplaceBeforeInit' ~S.eInplaceBeforeInit} {on 'eCardSave' ~eCardSave} class{:~eCardClass(value)}"></a>

{{/if}}
</script>

<script id="tmpl_eCard" type="text/x-jsrender">
<form data-link="{on 'submit' ~eCardSaveForm}">
<fieldset data-link="disabled{:loading}" class="ecardrows">
    {^{for fields ~saveBtn=saveBtn}}
        {{if html tmpl=html}}
        {{else hidden}}
            <input type="hidden" data-link="name{:name} {:value:} readonly{:readonly}">
        {{else type == 'textarea' && ~saveBtn}}
            <textarea class="form-control mb-2" data-link="{:value:} rows{:rows || 3} readonly{:readonly}"></textarea>
        {{else type == 'textarea'}}
            <div class="publisher publisher-alt keep-focus mb-2">
                <div class="publisher-input">
                    <textarea class="form-control text-small" data-link="{:value:} rows{:rows || 3} readonly{:readonly}"></textarea>
                </div>
                <div class="publisher-actions" data-link="visible{:value != old_value}">
                    <button type="submit" class="btn btn-primary btn-sm ml-auto mb-2">Сохранить</button>
                </div>
            </div>
        {{else labelin}}
            <div class="form-label-group mb-2">
                <label for="cardField{{:name+#index}}" class="text-muted">{{:label || name}}</label>
                <input name="{{:name}}" class="form-control" id="cardField{{:name+#index}}"
                    data-link="{on 'change1' ~eCardSave} {:value convert=fmt :} class{:cellattr? 'form-control '+ ~S.helpers[cellattr](#data):'form-control'}">
            </div>
        {{else}}
            <div class="form-row mb-2">
                <div class="col-4">
                    <label for="cardField{{:name}}" class="text-muted">{{:label || name}}</label>
                </div>
                <div class="col-8" data-link="{include tmpl='#eCardFields'}">
                </div>
            </div>
        {{/if}}
    {{/for}}
    {^{if ~eCardBtnSave(saveBtnVisible)}}
    <div style="z-index:30; bottom:0; background: linear-gradient(90deg, rgba(255,255,255,0.5) 0, rgba(255,255,255,1) 100%);" class="eCardSaveBtn bg1-danger py-2">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
    <div class="eCardSaveSpace"></div>
    {{/if}}
</fieldset>
</form>
</script>

<script>
SCRM.eInplaceBeforeInit = function(e, data, inData) {
    var d = data.linkCtx.data,
        cs = d.clubStatus,
        dbv = d.dbvalues;
    
    d.inData = inData;
    inData.skipText = true;
    inData.roInplace
    .one('reset.eCard', function(e) {
        SCRM.link(d, 'value', d.old_value);
    });
    
    function setOptions(nd){
        nd = $.extend({
            value: d.value,
            old_value: d.value,
            options: []
        }, nd);
        if (nd.options.length) nd.options = $.merge([{id: d.value0, name: d.value0text}], nd.options);
        
        SCRM.link(inData, nd);
        var key = in_array(d.type, ['date', 'datetime'])? 'sql_value' : 'value';
        $.observe(inData, key, function(e, odata) {
            //console.log('observe', key, odata);
            SCRM.link(d, 'value', odata.value);
        });
    }

    function clubStatus(){
        var rows = SCRM.clubStatus[cs];
        if (!rows) {
            pJSON('/data/status/'+cs, function(data){
                SCRM.setClubStatus(data.rows);
                clubStatus();
            });
            return;
        }
        setOptions({
            options: $.map(rows, function(v, i) {
                return {id: v[d.lookupKey||'id'], name: v.name};
            })
        });
    }
    
    function dbValues(){
        var rows = SCRM.dbValues[dbv];
        if (!rows) {
            pJSON('/data/dbvalues/', {mode: dbv}, function(data){
                SCRM.dbValues[dbv] = data[dbv];
                dbValues();
            });
            return;
        }
        setOptions({options: rows});
    }
    
    if (cs) clubStatus();
    else if (dbv) dbValues();
    else if (d.custom_html) {
        SCRM._run(d.custom_html, function(data) {
            //TODO: Если значение html или data.rows
            setOptions({
                html: data
            });
        });
    }
    else setOptions();
};


SCRM.addEditPopMenu = function(e, data, pd) {
    var d = data.linkCtx.data,
        lnk = $(e.target);
    if (!d.readonly) {
        pd.rows.push({
            href: '#ecardPopMenuEdit',
            cls: 'closePopover',
            ico: 'fa-pencil-square-o',
            text: 'Редактировать',
        });
        $(document)
        .off('click.ecardPopMenuEdit')
        .on('click.ecardPopMenuEdit', '[href="#ecardPopMenuEdit"]', function(e){
            e.preventDefault();
            SCRM.loadWSS('roinplace', function() {
                lnk.roinplace();
            });
        });
    }
}

$.views.converters({
    formatEmptySelect: function(val) {
        if (this.linkCtx) {
            var d = this.linkCtx.data;
            if (d.value==d.value0||d.value==null) val = d.value0text;
            console.log(d, val)
        }
        return val;
    },
    cbox: function(val) {
        return (val)? 1:0;
    }
});

SCRM.eCardBtnSave = function() {
    var win = $(window),
        wt = win.scrollTop(),
        wh = win.height();
    $('.eCardSaveBtn').each(function(i, b){
        var btn = $(b),
            form = btn.closest('form');
            
        var et = form.offset().top,
            eh = form.outerHeight(),
            space = $(".eCardSaveSpace", form);
            
        if (wt+wh >= et && wt+wh < et+eh ) {
            if ( !btn.hasClass('position-fixed') ) {
                btn.addClass('position-fixed').css('width', form.outerWidth());
                space.show().css('height', btn.outerHeight());
            }
        } else {
            if ( btn.hasClass('position-fixed') ) {
                btn.removeClass('position-fixed').css('width', 'auto');
                space.hide();
            }
        }
    });
}

SCRM.dateDiffColor = function(data){
    var cls = SCRM.dateDiffClass(data.value, data.dateDiffWarn, data.dateDiffDanger);
    return (cls)? ['font-weight-bold', cls].join(" ") : '';
}

$(document)
.off('scroll.eCardForm')
.on('scroll.eCardForm', SCRM.eCardBtnSave);

$(window)
.off('resize.eCardForm')
.on('resize.eCardForm', function(e) {
    $(".eCardSaveBtn.position-fixed").each(function(i, b){
        var btn = $(b);
        btn.css("width", btn.closest('form').outerWidth());
    });
});

[[+addScript]]

// TODO: Если нет текста для lookup полей
SCRM._service['[[+rq]]'] = function(eCard) {
    
    /* Пример использования
    club_Drawer({mdl_id: "leadCardModal",cm_size: 'lg',body:"<div id='myid'></div>"});
    pDATA("idLead", {_where:{id:1}},function(rows){SCRM._run('/chunk/multiCard', {
        table: "idLead",
        data: rows.rows[0],
        block:"#myid",
        cfgName: "idLead_card"
    })});
    */

    var fieldCfg = (SCRM.getClubStatus('ecard', eCard.ecard)||{}).extended,
        container = $(eCard.block||eCard.container);

    if (!fieldCfg) {
        alert('Empty eCard config');
        return false;
    }
    
    $('.onDestroyParent', container).trigger('onDestroyParent');

    function changedRows(rows){
        return $.map(rows, function(v, i) {
            /*if ('new_value' in v) {
                if (v.value != v.new_value) return v;
            }*/
            if (v.value != v.old_value) return v;
        });
    }

    var prevData = container.data('eCard');
    if (prevData) {
        var chRows = changedRows(prevData.fields);
        if (chRows.length) {
            var confMdl = {
                ok: 'Сохранить',
                cancel: 'Не сохранять',
                title: 'Обнаружены несохраненные изменения',
                changes: chRows,
                body: '<ul>{{for changes}}<li>{{:label||name}}</li>{{/for}}</ul>',
                onOK: function(e, md){
                    _eCardSave(prevData, chRows)
                    .always(function(){
                        md.mdl_hide();
                    });
                }
            };
            club_Modal(confMdl)
            .on('hidden.bs.modal', function (e) {
                container.data('eCard', null);
                SCRM._run('[[+rq]]', eCard);
            });
            return;
        }
    }
    
    function _eCardSave(cardData, saveRows){
        //console.log("_eCardSave", cardData, saveRows);
        var postData = { };
        $.each(cardData.fields, function(i, d) {
            if (d.key) postData[d.name] = d.value;
        });
        $.each(saveRows, function(i, d) {
            var nd = {
                value: d.value
            };
            /*if ('value' in d.inData) { // Внешний редактор
                nd.value = d.inData.sql_value || d.inData.value;
            }*/
            if (d.type=='select' && d.inData.roInplace) {
                nd.text_value = d.inData.roInplace.find('option:selected').text();
            }
            nd.old_value = nd.value;
            SCRM.link(d, nd);
            postData[d.name] = nd.value;
        });
        return pJSON('/hook/ecard/'+eCard.ecard, postData, function(data){
            container.trigger(eCard.ev || eCard.ecard, [postData, data.edata]);
            SCRM.success('Saved');
        });
    }
    
    var block = $('<div></div>');
    container.html(block).data('eCard', eCard);
    
    var typeFormatters = {
        datetime: 'formatDateTime',
        date: 'formatDate',
        money: 'formatMoney',
        select: 'formatEmptySelect'
    };
    
    key2obj(eCard, 'edata', {});
    eCard.fields = $.map(fieldCfg, function(v, i) {
        var row = $.extend({
            value: eCard.edata[v.name],
            text_value: eCard.edata[v.text],
            fmt: typeFormatters[v.type]||'formatEmpty',
            value0text: SCRM.emptyStr,
            value0: '',
            inData: {}
        }, v);
        
        if (v.type == 'savebtn') {
            eCard.saveBtn = v.label || 'Сохранить';
            return;
        }
   
        if ('formatter' in v) row.fmt = v.formatter; // SCRM.converters[v.formatter]
        if (v.dbvalues) row.value0 = '0';

        row.old_value = row.value;
        return row;
    });
    
    $.templates('#tmpl_eCard')
    .link(block, eCard, {
        eCardSave: function(e, data, val) {
            _eCardSave(eCard, [ data.linkCtx.data ]);
        },
        eCardSaveForm: function(e, data, val) {
            e.preventDefault();
            SCRM.link(eCard, 'loading', true);
            var rows = changedRows(eCard.fields);
            $.each(eCard.fields, function(i, d) {
                if (d.hidden && !d.readonly && !d.key) rows.push(d);
            });
            _eCardSave(eCard, rows)
            .done(function(data){
                $.extend(eCard.edata, data.edata);
                eCard.loading = false;
                //SCRM.link(eCard, 'loading', false);
                SCRM._run('[[+rq]]', eCard);
            });
        },
        eCardBtnSave: function(visible) {
            if (visible) setTimeout(SCRM.eCardBtnSave, 12);
            return visible;
        },
        eCardClass: function(value) {
            var d = this.data;
            if (d.required && !d.value) return 'eform-req';
            if (d.cls && (d.cls in SCRM)) return SCRM[d.cls](d);
            return '';
        }
    });
    if (eCard.saveBtn) {
        $.observe(eCard, 'fields^**', function(e, data){
            SCRM.link(eCard, 'saveBtnVisible', changedRows(eCard.fields).length);
        });
    }
}

//[[-
SCRM.helpers = {
    cellSaldoColor2: function(data){
        return data.tmp_cls;
    },
    cellSaldoColor3: function(data){
        var invoiced = (data.invoiced) ? data.invoiced*1 : 0;
        var payed = (data.payed) ? data.payed*1 : 0;
        data.i_g_p = invoiced - payed;
        if (data.i_g_p == 0) return '';
        return arr2clstring([(data.i_g_p > 0)? 'rowYes' : 'rowNo']);
    },
    cellSaldoColor4: function(data){
        if (data.i_g_p == 0) return '';
        return arr2clstring([(data.i_g_p < 0)? 'rowYes' : 'rowNo']);
    },
};

SCRM.converters = {
    // TODO: Created!!
    createdTemplate: function(val){
        val = str2date(val, 'dt');
        var edata = this.ctx.root.edata;
        var ed = (edata.edited)? makeIco('fa-pencil ml-1') : '';
        return `<a href="#" class="fmtCreated" data-id="${edata.id}" data-tbl="idLead">${val}${ed}</a>`;
    }
};
//]]
</script>


